@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    font-family:'poppins' , sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
}
   /* nav section */
header{
    background: url(./images/bg-hero-desktop.svg)  hsl(189, 100%, 97%) no-repeat;
}
nav img{
    width: 10rem;
}
nav button{
    width: 10rem;
}
.hero-content h2, p{
    font-family: 'poppins';
}
.hero-content button{
    background-color: var(--Pink );
}









container mx-5  py-5