@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    font-family:'poppins' , sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
}
*{
    overflow-x: unset;
}
   /* nav section */
header{
    background: url(./images/bg-hero-desktop.svg)  hsl(189, 100%, 97%) no-repeat;
}
nav img{
    width: 10rem;
}
nav button{
    width: 10rem;
}
.hero-content h2, p{
    font-family: 'poppins';
}
.hero-content button{
    background-color: var(--Pink );
}
.last{
    background-color: var(--Very-Dark-Cyan);
    height: 600px;
    margin-top: 20rem;
}
.last button{
background-color: var(--Pink);


}
.giz{
background-color: white;
height: 200px;
width: 600px;
align-items: center;
position: relative;
translate: 60% 60%;
bottom: 15rem;
text-align: center;
gap: 3rem;
margin-bottom: 3rem;
}
.giz h2{
    padding-top: 3rem;
}
.giz button{
    margin-top: 2rem;
}
.foot{
    position: absolute;
}
.foot img{
    background-color: white;
}
.out{
    color: white;
    padding-top: 2rem;
}
.out a{
    text-decoration: unset;
}
@media screen and (max-width: 430px){
.last{
    height: 1100px;
}
.giz{
    translate: 0% 0%;
    align-items: start;
    justify-content: start;
    height: 300px;
    width: 350px;
    padding-top: 5rem;

}
.giz button{
    margin-top: 4rem;
    margin-left: 4rem;
    width: 500px;


}
.giz h2{
    padding-top: 0.001rem;
}

}
